<!DOCTYPE html>
<html>

<head>
    <title> Server {{.Version}} </title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <h1>This server is version {{.Version}}</h1>
    <a href="check">Check for new version</a>
    <br>
    {{if .VersionFound}}
    <p>New version is available: {{.VersionFound}} | <a href="install">Upgrade</a></p>
    {{end}}
</body>

</html>