<!DOCTYPE html>
<html>

<head>
    <title> Server {{.Version}} {{if .VersionInstalled}} ➡ {{.VersionInstalled}} {{end}} </title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div class="max-w-sm rounded overflow-hidden shadow-lg container mx-auto">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Phoenix Version {{.Version}}</div>
            {{if .VersionInstalled}}
            <p class="text-gray-700 text-base">
                Successfully updated from {{.Version}} to {{.VersionInstalled}}
                <br>
                🎉
            </p>
            {{else}}
            <p class="text-gray-700 text-base">
                You are already on the latest available version 🚀
            </p>
            {{end}}

            <br>
            <p class="text-gray-700 text-base">
                Redirecting to home...
            </p>
        </div>
        <div class="px-6 py-4">
            {{if .VersionFound}}
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
                <a href="/">Home</a>
            </span>
            {{end}}
        </div>
    </div>
</body>

</html>

<script>setTimeout(function () { window.location.replace('/') }, 3000)</script>